.App {
  text-align: center;

}
.list{
  border: 1px black solid;
  height: 80px;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.line{
  display: flex;
  font-size:13px;
}
h6{
  margin: 5px;
}
h1{
  margin-bottom: 5px;
}
.list button{
  height: auto;
  font-size: 10px;
  margin: 0px 10px;
}
.drop{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 150px;
  border: 1px solid black;
 justify-content: space-around;
 margin-left: 40%;
}
.btnadd{
  width:60px;
  margin-left: 203px;

}
input{
  margin-left: 5px;
}
.contactbody{
  display: flex;
  flex-wrap: wrap;
}
.contactadd{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnupdate{
  width:60px;
  margin-left: 203px;
}